<div data-o-component="o-comment-count" data-o-comment-count-config-article-id="{{articleId}}" data-o-comment-count-auto-init="false">
Comments
</div>

<script>
	setTimeout(function () {
		oCommentCount.init();
	}, 4000);
</script>
